.fw-400{
    font-weight: 400;
}
#section1 {
    height: 650px;
    color:
        #fff;
    background-image: url("../../../../public/img/background.jpg");
    background-size: 100%;
    background-size: cover;
}