<div class="p-2">
    <div class="p-2">
        <mat-card>
            <mat-card-header>                
                <mat-card-title>Filtrer les Bouteilles</mat-card-title>
            </mat-card-header>
            <mat-card-content class="pt-3">
                <mat-form-field appearance="outline">
                    <mat-select placeholder="choisir vos filtres" [formControl]="toppings2" multiple
                    [(value)]="selectedStatuses" (selectionChange)="filterStatus()">
                        <mat-select-trigger>
                            {{toppings2.value ? toppings2.value[0] : ''}}
                            @if (toppings2.value?.length > 1) {
                                <small>(+{{toppings2.value.length - 1}} others)</small>
                            }                         
                        </mat-select-trigger>
                        @for (topping of toppingList2; track topping) {
                            <mat-option [value]="topping">{{topping}}</mat-option>
                        }                        
                    </mat-select>
                </mat-form-field>
            </mat-card-content>
        </mat-card>
    </div> 
    <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">  

        <ng-container matColumnDef="identifiant">
            <mat-header-cell *matHeaderCellDef> Identifiant </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.bottleId}} </mat-cell>
        </ng-container>    
        <ng-container matColumnDef="statut">
            <mat-header-cell *matHeaderCellDef> Statut</mat-header-cell>
            <mat-cell *matCellDef="let element"> 
                @if(isEmpty(element.state)){
                    <mat-chip color="warn" highlighted="true" class="info-chip">
                        {{element.state}} 
                    </mat-chip>
                } @else if(isFilled(element.state)) {
                    <mat-chip highlighted="true" class="info-chip">
                        {{element.state}} 
                    </mat-chip>
                } @else if(isInProgress(element.state)) {
                    <mat-chip color="accent" highlighted="true" class="info-chip">
                        {{element.state}} 
                    </mat-chip> 
                }
               
            </mat-cell>
        </ng-container>        
        <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef> Date mis à jour </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.last_update | date: 'dd/MM/yyyy'}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="detenteur">
            <mat-header-cell *matHeaderCellDef> Détenteur </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{username}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="roleDetenteur">
            <mat-header-cell *matHeaderCellDef> Rôle du détenteur </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{profile}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="capaciteEnKg">
            <mat-header-cell *matHeaderCellDef> Capacite (en kg) </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.capacity}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [length]="totalItems"></mat-paginator>
</div>
